<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    {% include '_navbar.html' %}
    <section class="login_container">
      <div class="signin">
        <div class="content">
          <h2>Sign Up</h2>
          <div class="form">
            <form method="post" action="{{ url_for('signup') }}">
              <div class="inputBox">
                <input type="text" name="username" required />
                <i>Username</i>
              </div>
              <div class="inputBox">
                <input type="email" name="email" required />
                <i>Email</i>
              </div>
              <div class="inputBox">
                <input type="password" name="password" required />
                <i>Password</i>
              </div>
              <div class="inputBox">
                <input type="password" name="confirm_password" required />
                <i>Confirm Password</i>
              </div>
              <div class="rtsp_container">
                <div class="inputBox">
                  <label class="rtsp_label">RTSP URL</label>
                  <div id="urlFieldsContainer"></div>
                  <div class="rtsp_add">
                    <button type="button" onclick="addUrlField()">+</button>
                  </div>
                </div>
              </div>
              <div class="inputBox">
                <input type="submit" value="Sign Up" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script>
      function addUrlField() {
        var container = document.getElementById("urlFieldsContainer");
        var input = document.createElement("input");
        input.type = "url";
        input.name = "urls";
        input.placeholder = "Enter URL";
        container.appendChild(input);
      }
    </script>
  </body>
</html>
